<h2>Sign up</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {  :class=>"form-horizontal" } ) do |f| %>
  <%= devise_error_messages! %>
<fieldset>

<div class="control-group">
 <div class="controls">
  <a href="<%=omniauth_authorize_path(resource_name, 'facebook') %>" class="btn  btn-info">Sign in with Facebook</a>
  <P>
    Do you have a Facebook account?<BR>
    Sign in with Facebook and you won't have to fill out this form!
  </P>
 </div>
</div>


<div class="control-group">
 <%= f.label :username, "Username", :class=>"control-label" %>
 <div class="controls">
   <%= f.text_field :username, :class=>"input-xlarge"  %>
 </div>
</div>
<div class="control-group">
  <%= f.label :name, "Your Name", :class=>"control-label" %>
  <div class="controls">
    <%= f.text_field :name, :class=>"input-xlarge"  %>
 </div>
</div>
<div class="control-group">
  <%= f.label :email, "Email Address", :class=>"control-label" %>
  <div class="controls">
  <%= f.email_field :email, :class=>"input-xlarge"  %>
  </div>
</div>
<div class="control-group">
  <%= f.label :phone_number, "Phone Number", :class=>"control-label" %>
  <div class="controls">
  <%= f.text_field :phone_number, :class=>"input-xlarge"  %>
  </div>
</div>
<div class="control-group">
  <%= f.label :password, "Password", :class=>"control-label" %>
  <div class="controls">
  <%= f.password_field :password, :class=>"input-xlarge"  %>
 </div>
</div>
<div class="control-group">
  <%= f.label :password_confirmation, "Confirm Your Password", :class=>"control-label" %>
  <div class="controls">
  <%= f.password_field :password_confirmation, :class=>"input-xlarge"  %>
</div>

</div>
<div class-"control-group">
 <div class="controls">
  <%= f.submit "Sign up", :class => "btn-primary" %>
 </div>
</div>

</fieldset>
<% end %>

<%= render "devise/shared/links" %>
