<%= form_for(@troupe, :html => { :class => "form-horizontal" } ) do |f| %>
<fieldset>
  <% if @troupe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@troupe.errors.count, "error") %> prohibited this troupe from being saved:</h2>

      <ul>
      <% @troupe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <P>
      Provide a new name and a short description about your troupe.
    </p>
    <P>
      If your troupe is private, it will not appear in the 
      public troupe directory.
    </p>
  </div>

  <div class="control-group">
    <%= f.label :name, "Short Name *", :class=>"control-label required" %>
    <div class="controls">
      <%= f.text_field :name, :class => "form-control"  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :description, :class => "form-control"  %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :private, :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :private %>
    </div>
  </div>
  <P>&nbsp;</P>
  <div class="actions">
    <a class="btn btn-danger" href="/troupes/">Cancel</a>
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
