<%= form_for(@troupe, :html => { :class => "form-horizontal" } ) do |f| %>
<fieldset>
  <% if @troupe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@troupe.errors.count, "error") %> prohibited this troupe from being saved:</h2>

      <ul>
      <% @troupe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <P>
      <strong>Help with Troupe Privacy</strong>
    </P>
    <P>
      Private troupes are not visible in public listings. You will
      have to invite your cast members to your troupe before they can join.
    </p>
    <P>
      Public troupes are visible in the public listing, but you may 
      require users to request an invite to join.
    </p>
  </div>

  <div class="control-group">
    <%= f.label :name, "Short Name *", :class=>"control-label required" %>
    <div class="controls">
      <%= f.text_field :name, :class => "form-control"  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, "Description",  :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :description, :class => "form-control"  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :private, "Make this troupe private, and do not show it in public listings?", :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :private %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :require_invite, "Require invites to join this troupe?", :class => "control-label" %>
    <div class="controls">
      <%= f.check_box :invite_required %>
    </div>
  </div>

  <P>&nbsp;</P>
  <div class="actions">
    <a class="btn btn-danger" href="/troupes/">Cancel</a>
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<% end %>
