	<TR>
    <% if defined? @adminindex -%>
    <TD>
    <% begin 
          @u = User.find(passet.created_by) 
    -%>
          <%=@u.name %><BR>
          <a href="mailto:<%=@u.email %>"><%=@u.email %></a>
    <% rescue -%>
       <font color="#ff0000">Deleted User</font>
    <% end -%>
    </TD>
    <% end -%>
		<TD ALIGN=CENTER>
			<% if passet.kind.match(/^audio\//) -%>
      
      <% if passet.kind.match(/mp4$/) -%>

      <object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" codebase="http://www.apple.com/qtactivex/qtplugin.cab" height="24" width="240"> 

      <param name="src" value="/uploads/download/<%=passet.uuid%>">
      <param name="autoplay" value="false">
      <param name="type" value="<%=passet.kind%>" height="24" width="240">

      <embed src="/uploads/download/<%=passet.uuid%>" height="24" width="240" type="<%=passet.kind%>" pluginspage="http://www.apple.com/quicktime/download/"></embed> 

</object> 
      <% else -%>
			<object type="application/x-shockwave-flash" data="/dewplayer/dewplayer-rect.swf" width="240" height="20" id="dewplayer" name="dewplayer">
				<param name="wmode" value="transparent" />
				<param name="movie" value="/dewplayer/dewplayer-rect.swf" /> 
				<param name="flashvars" value="mp3=/uploads/download/<%=passet.uuid%>&amp;showtime=1" /> 
			</object>
      <% end -%>
			<% end -%>
			<% if passet.kind.match(/^image\//) -%>
      <a id="single_image" href="/sf/<%=passet.uuid%>.jpg" rel="">
			<IMG SRC="<%="/s/#{passet.thumb_path(100,100)}" %>" WIDTH=100 HEIGHT=100>
      </a>
			<% end -%>
		</TD>
		<TD>
			<%=passet.filename%><BR>
      <I><% if passet.song_artist != nil %><%= passet.song_artist %> - <% end %>
      <% if passet.song_title != nil %><%= passet.song_title %> <BR> <% end %></I>
      <div class="greyed">
  			<%=passet.kind%>, <%=sec_to_time(passet.song_length) %> long, <%=passet.song_bitrate%>Kbit bitrate<BR>
      </div>
      <%=passet.created_at.asctime%> <i>(<%=time_ago_in_words(passet.created_at)%> ago)</i><br>
     <% if @noedit == nil -%>
      <a title="<%=passet.filename%>" href="/sf/<%=passet.uuid%>?download=1" rel="">[ Download ]</a>
      <% end -%>
		</TD>
		<TD>
    <% if @noedit == nil -%>
    <%= button_to 'Remove',  passet, :method=>:delete, :class=>:destroy, :data => {:confirm => "Delete #{passet.filename}: Are you sure?"} %>
    <% end -%>
		</TD>

	</TR>
