<%= form_for(@entry_techinfo) do |f| %>
  <% if @entry_techinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry_techinfo.errors.count, "error") %> prohibited this entry_techinfo from being saved:</h2>

      <ul>
      <% @entry_techinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry_id %><br>
    <%= f.text_field :entry_id %>
  </div>
  <div class="field">
    <%= f.label :song_title %><br>
    <%= f.text_field :song_title %>
  </div>
  <div class="field">
    <%= f.label :song_artist %><br>
    <%= f.text_field :song_artist %>
  </div>
  <div class="field">
    <%= f.label :act_duration_secs %><br>
    <%= f.text_field :act_duration_secs %>
  </div>
  <div class="field">
    <%= f.label :act_name %><br>
    <%= f.text_field :act_name %>
  </div>
  <div class="field">
    <%= f.label :act_description %><br>
    <%= f.text_field :act_description %>
  </div>
  <div class="field">
    <%= f.label :costume_Description %><br>
    <%= f.text_field :costume_Description %>
  </div>
  <div class="field">
    <%= f.label :costume_colors %><br>
    <%= f.text_field :costume_colors %>
  </div>
  <div class="field">
    <%= f.label :props %><br>
    <%= f.text_field :props %>
  </div>
  <div class="field">
    <%= f.label :other_tech_info %><br>
    <%= f.text_field :other_tech_info %>
  </div>
  <div class="field">
    <%= f.label :setup_needs %><br>
    <%= f.text_field :setup_needs %>
  </div>
  <div class="field">
    <%= f.label :setup_time_secs %><br>
    <%= f.number_field :setup_time_secs %>
  </div>
  <div class="field">
    <%= f.label :breakdown_needs %><br>
    <%= f.text_field :breakdown_needs %>
  </div>
  <div class="field">
    <%= f.label :breakdown_time_secs %><br>
    <%= f.text_field :breakdown_time_secs %>
  </div>
  <div class="field">
    <%= f.label :sound_cue %><br>
    <%= f.text_field :sound_cue %>
  </div>
  <div class="field">
    <%= f.label :microphone_needs %><br>
    <%= f.text_field :microphone_needs %>
  </div>
  <div class="field">
    <%= f.label :lighting_needs %><br>
    <%= f.text_field :lighting_needs %>
  </div>
  <div class="field">
    <%= f.label :mc_intro %><br>
    <%= f.text_field :mc_intro %>
  </div>
  <div class="field">
    <%= f.label :aerial_needs %><br>
    <%= f.text_field :aerial_needs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
