<%=stylesheet_link_tag "bootstrap.icon-large.min.css" %>
<%= render 'submit_modal' %>

<script>
  $(function() {
      $("#submitModal").modal('hide');

      $("#submitit").click(function() {
          $("#submitModal").modal('show');
      });
  });
</script>

<h2> <a href="/apps">Applications</a> <span style="vertical-align:middle" class="icon-large icon-thin-right-arrow"></span>Application Dashboard </h2>

<p><strong>Use the following menu to complete your application. </strong>
  <BR>
  <a href="http://blog.bhofapplication.com/behind-the-scenes-the-competition-selection-process" target="_blank">How the selection process works</a>
</P>

<% if @app.locked == true -%> 
<div class="alert alert-success">
This application has been submitted. No further changes are possible.
</div>
<% end -%> 

<h2 align="center"><%=link_to @app.description, edit_app_path(@app)%></h2>
<table class="table table-bordered">
  <THEAD>
  <TR>
    <TH>&nbsp;</TH>
    <TH>
      Form (click to edit)
    </TH>
    <TH>Estimated time to Complete</TH>
    <TH>Status</TH>
    <TH WIDTH="40%">Notes</TH>
  </TR>
  </THEAD>

  <tr>
    <td><strong>Part&nbsp;1</strong></td>
    <td width="210">
        <% if @entry -%>
          <%=link_to "Act Information",  edit_app_entry_path({app_id: @app.id, id: @entry.id}) %>
        <% else -%>
          <%=link_to "Act Information",  new_app_entry_path({app_id: @app.id}) %>
         <% end -%>
    </td>
    <td align="center">5-10 mins</td>
    <td align="center">
      <% if @entry and @entry.is_part1_complete? -%> 
      <BUTTON type="button" CLASS="btn btn-success">Complete</BUTTON>
      <% else -%>
          <% if @entry -%>
             <a href="<%=edit_app_entry_path({app_id: @app.id, id: @entry.id})%>">
          <% else -%>
             <a href="<%= new_app_entry_path({app_id: @app.id})%>">
          <% end -%>
          <BUTTON type="button" CLASS="btn btn-danger">Incomplete</BUTTON>
          </a>
      <% end -%> 
    </td>

    <td>
     Basic information about the act being submitted.
    </td>
  </tr>
  <tr>
    <td>
      <div align="center"><strong>Part&nbsp;2</strong></div>
    </td>
    <td>
    <% if @app.purchased_at.nil? and @entry.nil? == false and @entry.is_part1_complete? == true -%>
    <a href="/apps/<%=@app.id%>/express_checkout">
    <% end -%>
     Payment of application fee
    <% if @app.purchased_at.nil? and @entry.nil? == false and @entry.is_part1_complete? == true -%>
    </a>
    <% end -%>
    </td>
    <td>
      <div align="center">3 min</div>
    </td>
    <td align="center">
      <% if ! @app.purchased_at.nil? -%>
      <BUTTON type="button" CLASS="btn btn-success">Payment Complete</BUTTON>
      <BR>$<%='%.2f' % (@app.purchase_price.to_i/100.0) %><BR><%=@app.purchased_at.to_time.strftime(SHORT_TIME_FMT_TZ)%>
      <% else -%>
        <% if (! @entry.nil?) and @entry.is_part1_complete? -%>  
        <BUTTON type="button" CLASS="btn btn-warning">Ready for Payment</BUTTON>
              <BR>$<%='%.2f' % (@app.get_current_price() / 100) %> Due.
        <% else -%> 
        <BUTTON type="button" CLASS="btn btn-default">Finish Part 1 First!</BUTTON>
        <% end -%>
      <% end -%>
    </td>
    <td><p>Fee is due via credit card or PayPal account on
      the PayPal website. You may pay once Part 1 is complete, but not before. </p>

      <p><strong>Payment is $29 and partially refundable if made before December 15,
        2014; then $29 and nonrefundable until January 5, 2015; then $39 and nonrefundable until the application closes.
        After payment, you still have until January 19th to complete and fully submit the application.</strong>
      </p></td>
  </tr>
  <tr>
    <td rowspan="2">
      <div align="center"><strong>Part&nbsp;3</strong></div>
    </td>
    <td>
    <% if @entry -%>
        <%=link_to "Essay / Short Answers",  edit_app_entry_path({app_id: @app.id, id: @entry.id, part: 2}) %>
    <% else -%>
        <%=link_to "Essay / Short Answers",  new_app_entry_path({app_id: @app.id, part: 2}) %>
    <% end -%>
    </td>
    <td>
      <div align="center">5 mins</div>
    </td>
    <td align="center">
      <% if @entry and @entry.is_part2_complete? -%> 
      <BUTTON type="button" CLASS="btn btn-success">Complete</BUTTON>
      <% else -%>
        <% if @entry -%>
          <a href ="<%=edit_app_entry_path({app_id: @app.id, id: @entry.id, part: 2})%>">
        <% else -%>
          <a href ="<%=new_app_entry_path({app_id: @app.id, part: 2})%>">
        <% end -%>
      <BUTTON type="button" CLASS="btn btn-danger">Incomplete</BUTTON>
      </a>
      <% end -%>

    </td>
    <td rowspan="2">
      Shortened for 2015! Additional information about your act. This part will take the
        longest. You can start this part at any time but we strongly recommend doing Parts 1 and 2 first!</td>
  </tr>
  <tr>
    <td>
      <% if @app.entry_techinfo -%>
          <%=link_to "Tech / Staging Information",  edit_app_entry_techinfo_path({app_id: @app.id, id: @app.entry_techinfo.id}) %>
      <% else -%>
          <%=link_to "Tech / Staging Information",  new_app_entry_techinfo_path({app_id: @app.id}) %>
      <% end -%>

    </td>
    <td>
      <div align="center">10-15 mins</div>
    </td>
    <td align="center">
      <% if @app.entry_techinfo and  @app.entry_techinfo.is_complete? -%>
         <BUTTON type="button" CLASS="btn btn-success">Complete</BUTTON>
      <% else -%>
         <% if @app.entry_techinfo -%>
            <a href="<%=edit_app_entry_techinfo_path({app_id: @app.id, id: @app.entry_techinfo.id}) %>">
         <% else -%>
            <a href="<%=new_app_entry_techinfo_path({app_id: @app.id}) %>"
         <% end -%>
            <BUTTON type="button" CLASS="btn btn-danger">Incomplete</BUTTON>
         </a>
      <% end -%>
    </td>
  </tr>
  <tr>
    <td rowspan="1">
      <div align="center">Part&nbsp;4</strong></font></div>
    </td>

    <td>
    <% if @app.locked == false -%> 
    <a href="#" id="submitit">Submit Application</a>
    <% else -%> 
    Submit Application
    <% end -%> 
    </td>
    <TD>
      &nbsp;
    </td>
    <td align="center">
    <% if @app.locked == true -%> 
      <BUTTON type="button" CLASS="btn btn-success">Submitted! Good Luck!</BUTTON>
    <% else -%> 
      <% if @app.entry and @app.entry_techinfo and @app.is_complete? and @app.entry.is_complete? and @app.entry_techinfo.is_complete? and @app.purchased_at.present? -%>

          <BUTTON type="button" CLASS="btn btn-warning">Ready to Submit</BUTTON>
      <% else -%>
          <BUTTON type="button" CLASS="btn btn-default">Application Incomplete</BUTTON>
      <% end -%>
    <% end -%>
    </td>
    <td>Final submission must be done before the
      deadline of <strong>11:59pm PST on January 19, 2015</strong>. You will not
      be able to submit the application until all required information and payment
      are complete. Clicking this will take you to a page where you will officially
      submit the application. You will also be able to print a copy on that page.</td>
  </tr>
</table>
