<link href="/assets/bootstrap.icon-large.min.css" rel="stylesheet">

<h3>Welcome to the BHoF <%=BHOF_YEAR%> Application System</h3>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Please read these three pages carefully before you begin! (1 of 3)</strong></div>
  <div class="panel-body">

    <p>This online application consists of four parts, with EVERYTHING due by electronic submission at
      <strong><span class="rulepageheaders"><%= BHOF_FINAL_DEADLINE.strftime(SHORT_TIME_FMT) %></strong>. This year's application
      is a bit shorter than last year's. If you have your act and
      video link ready, the application can be done in less than an
      hour. </p>

    <p>
      <strong>As with last year, we're offering a $10 discount on the
        application fee if you start the application early!</strong></span> We want you to spend time on the
        application and not rush. And also to have time to make
        changes if you need to. We offer the discount to encourage this, which will help you submit the best application possible. Once you've paid it, you can
        still have until
        <%=BHOF_FINAL_DEADLINE.strftime(SHORT_DATE_FMT)%> to complete
        the rest of your application and fully submit it. The discount
        cutoff dates are December 15th (SUPER earlybird) and January
        5th (regular earlybird). You'll see more info on that once you
        start the application.</p>

     <p>The four parts of the application are:</p>
     <OL>
      <LI>Basic info (estimated 5-10 minutes)</LI>
      <LI>Payment of application fee (3 minutes)</LI>
      <LI>Additional info about the act (15-45 minutes)</LI>
      <LI>Submit application</LI>
     </OL>

     <P>
     </strong>
     To get the earlybird discount: just complete the payment early. Then
     you can work on the rest and submit it all by <%= BHOF_FINAL_DEADLINE.strftime(SHORT_TIME_FMT) %>
     </strong>.
     </p>

    <p>As before, we're planning to offer applicant-only presale
      tickets at the largest discount of the year, so don't miss out
      on your chance to get the best seats at the best price by
      submitting an application! </p>
  </div>
</div>
<p align="center">
  <strong>   Yes, I understand about the final due date, the earlybird payment
    discount, and that even if I pay early I have until <%=BHOF_FINAL_DEADLINE.strftime(SHORT_TIME_FMT)%> to submit the application.
  </strong>
</p>
<p align="center">
  <a class="btn btn-success" href="/bhof/page2">I understand. Take me to the next page.</a>
</p>
