<script>

$(function() {
  $( ".datepicker" ).datetimepicker({
    showButtonPanel: true,
    dateFormat: "yy-mm-dd",
    timeFormat: "hh:mm"
  });
});
</script>
<div class="well">
<%= form_for @show, :html => { :class => "form-horizontal" } do |f| %>
 <fieldset>
 <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, "Title", :class=>"control-label" %>
    <div class="controls">
    <%= f.text_field :title, :class=>"input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :venue, "Venue", :class => "control-label" %>
    <div class="controls">
     <%= f.text_field :venue, :class => "input-xlarge" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :door_time, "Door Time", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :door_time, :class => "input-xlarge datepicker" %>
  </div>
<BR>
  <div class="control-group">
    <%= f.label :show_time, "Show Time", :class => "control-label" %>
    <div class="controls">
    <%= f.text_field :show_time, :class => "input-xlarge datepicker" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
    <%= f.submit "Submit", :class => "btn-primary" %>
    </div>
  </div>
</fieldset>
<% end %>
</div>
