<h1>Download Show: <%=@show.title%></h1>


<TABLE class="table table-striped">
<% @filelist.each_pair do |id,fn| -%>
<TR>
  <TD><%=id%></TD>
  <TD><%=fn%></TD>
</TR>
<% end -%>
</TABLE>

Download: <a href="<%=@zipfile%>"><%=@zipfile%></a> (<%=number_to_human_size(@zipstat.size, :precision => 3)%> / <%=number_with_delimiter(@zipstat.size)%> bytes)

