
<h3>Editing show: <%=@show.title%>, doors @ <%=@show.venue %>: <%=@show.door_time.strftime(SHORT_TIME_FMT)%></h3>

<hr>
<div id="editFormToggle">
<% if @show.errors.count > 0 %>
<P><span class="ui-icon ui-icon-triangle-1-s toggle-icon" style="vertical-align:middle"></span><span id="toggle-txt">Hide Show Details</span></P>
<% else %>
<P><span class="ui-icon ui-icon-triangle-1-e toggle-icon" style="vertical-align:middle"></span><span id="toggle-txt">Edit Show Details</span></P>
<% end %>

</div>

<div id="metadataform" <% if @show.errors.count == 0 %>style="display:none"<% end %>>
<%= render 'form' %>
</div>

<%= render 'note_modal' %>
<%= render 'duration_modal' %>

<h3>Available Acts</h3>
<div id="actFormToggle">
<P><span class="ui-icon ui-icon-triangle-1-s toggle-act-icon" style="vertical-align:middle"></span><span id="act-toggle-txt">Hide Act List</span></P>
</div>

<div id="actTable">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="actslist">
<thead>
 <TH>Owner</TH>
 <TH>Stage/Act Name</TH>
 <TH>Short Description</TH>
 <TH>Performer Length + Music</TH>
 <TH>Add</TH>
</thead>
<tbody>
<!-- data -->
</tbody>
</table>
<HR>
</div>
<h3>Show Schedule</h3>
Drag and Drop rows to re-order show. Changes will automatically save. Click 'Refresh' to recalculate times.
<P><button class="btn btn-info btn-small" id="addNoteBtn">
<i class="icon-plus icon-white"></i> Add Note/Intermission
</button>
<button class="btn btn-success btn-small" id="refreshBtn">
<i class="icon-refresh icon-white"></i> Refresh </button>
</p>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="showlist">
<thead>
<TR>
<TH width=30>Seq</TH>
<TH>Time</TH>
<TH>Act</TH>
<TH>Sound</TH>
<TH>Light + Stage</TH>
<TH>Notes</TH>
<TH width=215>Actions</TH>
</TR>
</thead>
<tbody>
<!-- data -->
</tbody>
</TABLE>

<script>

$.extend( $.fn.dataTableExt.oStdClasses, {
    "sSortAsc": "header headerSortDown",
    "sSortDesc": "header headerSortUp",
    "sSortable": "header"
} );

$.extend( $.fn.dataTableExt.oStdClasses, {
    "sWrapper": "dataTables_wrapper form-inline"
} );

/* set up acts datatable */
$(document).ready(function() {

  $("#noteModal").modal('hide');
  $("#durationModal").modal('hide');

  $("#addNoteBtn").on('click', function(e) { 
    e.preventDefault();
    $('#noteModal').modal('show');
  });

  actsDT = $('#actslist').dataTable( {
      "sDom": "<'row'<'span6'l><'span12'f>r>t<'row'<'span12'i><'span12'p>>",
      "sAjaxSource": "/acts/adminindex.json",
      "sPagination": "bootstrap",
      "iDisplayLength": 5,
      "oLanguage": {
	  	"sLengthMenu": "Show&nbsp;<select size=1 name=actslist_length aria-controls=\"actslist\"><option value='5'>5</option><option value='10'>10</option><option value='15'>15</option></select>&nbsp;records per page"
	  },
     "fnServerData": function ( sSource, aoData, fnCallback ) {
        $.ajax({'datatype':'json',
                'type':'GET',
                'url':sSource,
                'data':aoData,
                'success':function(json) {               
                   fnCallback(json);
            }})
          }
  });
  
  showDT = $('#showlist').dataTable( {
      "sDom": "<'row'<'span12'l><'span12'f>r>t<'row'<'span6'i><'span12'p>>",
        "sAjaxSource": "/shows/<%=@show.id%>/show_items.json",
        "sPagination": "bootstrap",
        "iDisplayLength": 15,
        "oLanguage": {
        "sLengthMenu": "Show&nbsp;<select size=1 name=actslist_length aria-controls=\"actslist\"><option value='5'>5</option><option value='10'>10</option><option value='15'>15</option></select>&nbsp;records per page"
          },
        "fnServerData": function ( sSource, aoData, fnCallback ) {
          $.ajax({'datatype':'json',
                'type':'GET',
                'url':sSource,
                'data':aoData,
                'success':function(json) {               
                    fnCallback(json);
              }});
        }
    }).rowReordering({
		sURL:"/show_items/update_seq"
	});

 /* wireup some ajax reloads on these tables - when this was enabled we were getting duplicate rows... */
  /* setInterval(showDT.fnReloadAjax(), 3000);
  setInterval(actsDT.fnReloadAjax(), 3000);*/

  /* set up the lower table */
  var fixHelper = function(e, ui) {
    ui.children().each(function() {
        $(this).width($(this).width());
      });
    return ui;
  };
  
  $("#sort tbody").sortable({
    helper: fixHelper
        }).disableSelection();
  
  /* this delegated event handler works, but needs to go down one level. */
  $("#actslist tbody").delegate("td", "click", function() {
      if ($(".actadder", this)[0] != undefined) { 
        var clicked_id = $(".actadder", this)[0].id;
        var actdata = {
          'show_id':'<%=@show.id%>',
          'kind': '32',
          'act_id': clicked_id,
          "authenticity_token" : AUTH_TOKEN
        };
      
        $.ajax({
          type: 'POST',
              dataType: 'json',
              url: '/show_items.json',
              contentType: 'application/json',
              data: JSON.stringify(actdata),
              success: function() { 
                showDT.fnReloadAjax();
              }
          });
      }
    });

  $("#showlist").delegate("button", "click", function() {
      if ($(this).attr("class").indexOf("siremove") != -1) { 
        var clicked_id = $(this).attr("id");

        var actdata = {
          "authenticity_token" : AUTH_TOKEN
        };

        $.ajax({
          type: 'DELETE',
              dataType: 'json',
              url: '/show_items/' + clicked_id + '.json',
              contentType: 'application/json',
              data: JSON.stringify(actdata),
              success: function() { 
                showDT.fnReloadAjax();
              }
          });
       }

       if ($(this).attr("class").indexOf("editact") != -1) { 
         var clicked_id = $(this).attr("id");
         window.location.href="/acts/" + clicked_id + "/edit";
       }

       if ($(this).attr("class").indexOf("editduration") != -1) { 
         var clicked_id = $(this).attr("id");
         $("#durationModal").modal('show'); 
       }

    });


  /* add act clicks */
  $(document).ready( function () { 
	    $("#refreshBtn").click( function (e) {
          e.preventDefault();
          showDT.fnReloadAjax();
      });
     
      $("#editFormToggle").click( function (e) {
          e.preventDefault();
          $(".toggle-icon").toggleClass('ui-icon-triangle-1-e');		
          $(".toggle-icon").toggleClass('ui-icon-triangle-1-s');
          $("#metadataform").slideToggle();
          
          if ($(".toggle-icon").hasClass("ui-icon-triangle-1-s")) { 
            $("#toggle-txt").html("Hide Details");
          } else {
            $("#toggle-txt").html("Edit Show Details");
          }
        });

      $("#actFormToggle").click( function (e) {
          e.preventDefault();
          $(".toggle-act-icon").toggleClass('ui-icon-triangle-1-e');		
          $(".toggle-act-icon").toggleClass('ui-icon-triangle-1-s');
          $("#actTable").slideToggle();
          
          if ($(".toggle-act-icon").hasClass("ui-icon-triangle-1-s")) { 
            $("#act-toggle-txt").html("Hide Act List");
          } else {
            $("#act-toggle-txt").html("Show Act List");
          }
        });

    });
  });
  
</script>
