<h1>Shows</h1>

<% if @shows.length == 0 -%>
There are no shows on file. Create one. 

<% else %>
<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Venue</th>
    <th>Door time</th>
    <th>Show time</th>
    <th colspan=4>Actions</th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.title %></td>
    <td><%= show.venue %></td>
    <td><%= show.door_time.strftime(SHORT_TIME_FMT) %></td>
    <td><%= show.show_time.strftime(SHORT_TIME_FMT) %></td>
<!-- Possibly re-use this to make the print-out? -->
    <td><%= link_to 'Live View', show %></td>
    <td><%= link_to 'Performer List', perfindex_show_path(show) %></td>
    <td><%= link_to 'Edit', edit_show_path(show) %></td>
    <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% end %>
<br />

<%= link_to 'New Show', new_show_path %>
