<%
itemtime = @show.door_time
%>
<div class="perfindex">
<P><%= @show.title %> - <%= @show.door_time.strftime("%A, %B %e")%></P>

<P>Doors at <%= @show.door_time.strftime(TIME_ONLY_FMT) %> / Show at <%= @show.show_time.strftime(TIME_ONLY_FMT) %></P>

<P>&nbsp;</p>

<% @show_items.each { |s| -%>
<P>
<% if @si_act[s.act_id] -%>
<B><%=itemtime.strftime(TIME_ONLY_FMT) %></b> - <%=@si_act[s.act_id].stage_name %>
<% else %>
<B><%=itemtime.strftime(TIME_ONLY_FMT) %></b> - <I><%=s.note %></I>
<% end %>
</p>

<% 
  if s.duration != nil 
    itemtime = itemtime + (s.duration * 60)
  end
%>

<% } -%>
</div>
