<%
itemtime = @show.door_time
%>
<span class="noprint">
 <div class="row">
   <P align="right"><input type="checkbox" id="mcmode" name="mcmode">Show MC Notes</p>
 </div>
</span>

<script type="text/javascript"> 
$( document ).ready(function() { 
  $(".mcnotes").hide();

  $( 'input#mcmode' ).click(function(){
     if ($(this).is(':checked')) {
       $(".mcnotes").show();
     } else {
       $(".mcnotes").hide();
     }
  });
});

</script>
<div class="perfindex">
<P><%= @show.title %><BR>
<%= @show.door_time.strftime("%A, %B %e")%>
 / Doors at <%= @show.door_time.strftime(TIME_ONLY_FMT) %> / Show at <%= @show.show_time.strftime(TIME_ONLY_FMT) %></P>

<P>&nbsp;</p>
<TABLE class="table table-nolines">
<% @show_items.each { |s| -%>
<TR>
<% if @si_act[s.act_id] -%>
<TD width=200><B><%=itemtime.strftime(TIME_ONLY_FMT) %></b></TD>
<TD><%=@si_act[s.act_id].stage_name %>
<div class='mcnotes'>
<% if @si_act[s.act_id].mc_intro.length > 0 -%>
<P><I><%=@si_act[s.act_id].mc_intro %></I></P>
<% end -%>
</div>
</TD>
<% else -%>
<TD><B><%=itemtime.strftime(TIME_ONLY_FMT) %></b></TD>
<TD><I><%=s.note %></I></TD>
<% end -%>
</TR>

<% 
  if s.duration != nil 
   itemtime = itemtime + s.duration
  end
%>

<% } -%>
</div>
