<ul class="nav">
  <% if user_signed_in? %>
    <li class="page-item">
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li class="page-item">
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="page-item">
    <%= link_to 'Your Content', :passets %>
    </li>
    <li class="page-item">
    <%= link_to 'Your Account', edit_user_registration_path %>
    </li>
  <% else %>
    <li class="page-item">
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
