<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
   <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">Hubba Show Manager</a>
      <div class="nav-collapse">
         <ul class="nav">
          <li><a href="/">Home</a></li>
            <% if user_signed_in? %>
            <li><%= link_to "Upload Files", "/passets/new" %></li>
            <li><%= link_to 'Files', :passets %></li>
            <li><%= link_to 'Acts', :acts %></li>
            <li><%= link_to 'Profile', edit_user_registration_path %></li>
              <% if current_user.try(:admin?) -%>
                <li class="divider-vertical"></li>
                <li><%= link_to 'Show Admin', :shows %></li>
              <% end -%>
            <% else %>
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <LI CLASS="pull-right"><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></LI>
              <li class="divider-vertical"></li>
              <LI CLASS="pull-right"><span class="navbar-text">
                  <I>Signed in as <%=current_user.actname %> (<%=current_user.email%>)
                  <% if current_user.try(:admin?) -%>(admin)<% end -%>
                  </I>
              </span>
              </LI> 

            <% else %>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
         </ul>
      </div>
    </div>
  </div>
</div>
