<ul class="nav">
  <% if user_signed_in? %>
    <li class="page-item">
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    </li>
  <% else %>
    <li class="page-item">
    <%= link_to 'Login', new_user_session_path %>  
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li class="page-item">
    <%= link_to "Upload a File", "/passets/new" %>
    </li>
    <li class="page-item">
    <%= link_to 'Your Files', :passets %>
    </li>
    <li class="page-item">
    <%= link_to 'Your Profile', edit_user_registration_path %>
    </li>
    <% if current_user.try(:admin?) -%>
      <li class="page-item">
      <%= link_to 'Show Admin', :shows %>
      </li>
    <% end -%>
    <LI class="userinfo page-item">
      Signed in as <I><%=current_user.actname %></I>
    </li>
  <% else %>
    <li class="page-item">
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>

