<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hubba Hubba: Stage Management</title>
    <meta name="description" content="Hubba Hubba Stage Manager System">
    <meta name="author" content="John Adams">
    <%= stylesheet_link_tag "application", :media => "all" %>
  	<%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "blitzer/jquery-ui-1.8.21.custom" %>

    <%= javascript_include_tag "jquery.2.ui.widget.js" %>
    <%= javascript_include_tag "jquery.iframe-transport.js" %>
    <%= javascript_include_tag "jquery.fileupload.js" %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon.js" %>

    <!-- Add fancyBox -->
    <%= stylesheet_link_tag "jquery.fancybox" %>
    <%= javascript_include_tag "jquery.fancybox.pack.js?v=2.0.6" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page" class="page">
      <div id="header">
	<div id="headerimg" class="header2">
	  <a href="http://www.hubbahubbarevue.com/" class="logo"><img src="http://www.hubbahubbarevue.com/wp-content/themes/hhr/images/logo.png" alt="Hubba Hubba Revue: Home of the San Francisco Bay Area&#039;s Biggest Burlesque Revue!"></a>
	  </div>
      </div>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/messages' %>
      <div id="content" class="narrowcolumn" >
	<div class="post">
  	  <div class="entry">
            <%= yield %>
	  </div>
	</div>
      </div>
      </div>
    </div> <!--! end of #container -->
  </body>
</html>
