<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>troupeIt Stage Management</title>
    <meta name="description" content="TroupeIt - Simplified Stage Management">
    <meta name="author" content="John Adams">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "main", :media => "all"   %>
    <%= stylesheet_link_tag "bootstrap.min.css", :media => "all"   %>
<!--    <%= stylesheet_link_tag "bootstrap-responsive", :media => "all"   %> --> 
    <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
<!--    <%= stylesheet_link_tag "bootstrap-image-gallery.min.css", :media => "all"  %> -->
    <%= stylesheet_link_tag "jquery.fileupload-ui.css", :media => "all"  %>
    <%= stylesheet_link_tag "jquery.dataTables.min.css", :media => "all"  %>
    <%= stylesheet_link_tag "DT_bootstrap.css", :media => "all"  %>

    <%= stylesheet_link_tag "/mejs/mediaelementplayer.css", :media => "all" %>
    <%= stylesheet_link_tag "/mejs/mejs-skins.css", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Add fancyBox -->
    <%= stylesheet_link_tag "jquery.fancybox" %>
    <%= csrf_meta_tags %>
  	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  </head>  
  <body>
  <div class="noprint">
  <%= render 'layouts/navigation' %>
  </div>
  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
  </body>
</html>
