<h1>Your Acts</h1>

<% if @acts.length > 0 -%>
<table class="table table-striped">
  <tr>
    <th>Stage Name</th>
    <th>Short Description</th>
    <th colspan=3>Actions</th>
  </tr>

<% @acts.each do |act| %>
  <tr>
	<td><%=act.stage_name%></td>
	<td><%=act.short_description%></td>
<!--    <td><%= link_to 'Show', act %></td> !-->
    <td><%= link_to 'Edit', edit_act_path(act) %></td>
    <td><%= link_to 'Destroy', act, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<% else %>
<H3> You don't have any acts. Create one! </h3>
<% end %>
<br />

<%= link_to 'New Act', new_act_path %>
